<div class="topMenu">

    <div class="button">Premium</div>
    
    <div class="tabTop"><i class="icon-reorder large white"></i></div>
    
    <div class="textTop"><i class="icon-user large"></i> marcjohnboanas</div>

</div>

<div class="navBar">

</div>


<div class="settingsContainer">

<div class="settings">

    <div class="settingsMenu">

        <div class="settingsmenuOption"><div class="menuText">Account Summary</div></div>
        <div class="settingsmenuOption"><div class="menuText">Personal Settings</div></div>
        <div class="settingsmenuOption active"><div class="menuText active">Change Settings</div></div>
        <div class="settingsmenuOption"><div class="menuText">Upgrade Account</div></div>
    </div>

    <div class="settingsContent">
    
    <h1>Account Summary</h1>
    
    <div class="line"></div>
    
    <div class="settingTitle"><b>Account Type</b></div>
    
    <div class="settingformItem"></div>
    
    <div class="line"></div>
    
    <div class="settingTitle"><b>Username</b></div>
    
    <div class="settingformItem"></div>
    
    <div class="line"></div>
    
    <div class="settingTitle"><b>Email</b></div>
    
    <div class="settingformItem"></div>
    
    <div class="line"></div>
    
    <div class="settingTitle"><b>Member Since</b></div>
    
    <div class="settingformItem"></div>

    <div class="line"></div>
    
    <div class="settingTitle"><b></b></div>
    
    <div class="settingformItem"></div>
        
    </div>

    </div>

</div>


<div class="dropMenu">

    <%= link_to( root_path ) do %>
    
    <div class="menuOption">Home</div>
    
    <% end %>
    
    <%= link_to( settings_path ) do %>
    
    <div class="menuOption">Settings</div>
    
    <% end %>
    
    <%= link_to( settings_path ) do %>
        
    <div class="menuOption last">Logout</div>
    
    <% end %>
    
</div>
